{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    // "chrome": "30" // 按自己需要填写
                },
                "useBuiltIns": "usage", // 需要我们在项目入口文件中手动引入一次core-js，它会根据我们配置的浏览器兼容性列表(browserList)然后 《全量引入》 不兼容的polyfill
                "corejs": 3,
                "modules": false // 默认是commonJS，false表示ESM
            }
        ]
    ]
}
