{
    "presets": [
        [
            "@babel/preset-env",
            {
                "modules": false // 默认是commonJS，false表示ESM
            }
        ]
    ],
    "plugins": [
        [
            "@babel/plugin-transform-runtime",
            {
                "absoluteRuntime": false,
                "corejs": 3,
                "helpers": true,
                "regenerator": true
            }
        ]
    ]
}
